<form action="/recipes/{{id}}/feedback" method="post">
  <h2>Rate and Comment this Recipe!</h2>
  <div class="rating-field">
    <label for="rating">Rating</label>
    <select name="rating" id="feedback-rating">
      <option value=5>★★★★★</option>
      <option value=4>★★★★☆</option>
      <option value=3>★★★☆☆</option>
      <option value=2>★★☆☆☆</option>
      <option value=1>★☆☆☆☆</option>
      <option value=0>☆☆☆☆☆</option>
    </select>
    <cite> (required)</cite>
  </div>
  <div class="write-comment">
    <label for="feedback-comment">Leave a comment<cite> (optional)</cite></label>
    <textarea name="commentText" placeholder="Your comment here"></textarea>
  </div>
  <button type="submit">Submit</button>
</form>