<div>
  <h2>Comments</h2>
  <div class="comments-container">
    {{#if comments}}
      {{#each comments}}
        <div>{{>commentBox}}</div>
      {{/each}}
    {{else}}
      {{>emptySection item="Comments"}}
    {{/if}}
  </div>
</div>