<nav>
  <div class="components">
    <a href="/"><img class="logo" src="/images/tast-ELogo.png" alt="logo"></a>
    <a href="/recipes/category/all">All Recipes</a>
    <a href="/recipes/category/breakfast">Breakfast</a>
    <a href="/recipes/category/lunch">Lunch</a>
    <a href="/recipes/category/dinner">Dinner</a>
    <a href="/recipes/category/dessert">Dessert</a>
    <a href="/recipes/category/other">Other</a>
  </div>
  <div class="user">
    {{#unless session.currentUser}}
      <a href="/auth/signup">Signup</a>
      <a href="/auth/login">Login</a>
    {{/unless}}
    {{#if session.currentUser}}
      <a href="/{{session.currentUser.username}}">{{session.currentUser.username}}</a>
      <a href="/auth/logout">Logout</a>
    {{/if}}
  </div>
</nav>