<nav>
  <div class="components">
    <h1>
      <a href="/">Nombre pagina</a>
    </h1>
    <a href="/recipes/all">All Recipes</a>
    <a href="/recipes/category/Breakfast">Breakfast</a>
    <a href="/recipes/category/Lunch">Lunch</a>
    <a href="/recipes/category/Dinner">Dinner</a>
    <a href="/recipes/category/Dessert">Dessert</a>
    <a href="/recipes/category/Other">Other</a>
  </div>
  <div class="user">
    {{#unless session.currentUser}}
      <a href="/auth/signup">Signup</a>
      <a href="/auth/login">Login</a>
    {{/unless}}
    {{#if session.currentUser}}
      <a href="/userProfile">{{session.currentUser.username}}</a>
      <a href="/auth/logout">Logout</a>
    {{/if}}
  </div>
</nav>