<nav>
  <div class="components">
    <h1>
      <a href="/">Nombre pagina</a>
    </h1>
    <a href="#">Breakfast</a>
    <a href="#">Lunch</a>
    <a href="#">Dinner</a>
    <a href="#">Dessert</a>
  </div>
  <div class="user">
    {{#unless session.currentUser}}
      <a href="/auth/signup">Signup</a>
      <a href="/auth/login">Login</a>
    {{/unless}}
    {{#if session.currentUser}}
      <a href="/userProfile">{{session.currentUser.username}}</a>
      <a href="/auth/logout">Logout</a>
    {{/if}}
  </di
  v>
</nav>