<div class="box">
    <h2>{{title}}</h2>
    <img class="recipecard-img" src="{{photo}}" alt="photo">

     <h4>By: {{author.username}}</h4>
     {{> starRating}}
    <a class="buttonbox" href="/recipes/{{_id}}/detail">View More</a>
</div>
