<div class = "head">
    <div class = "components">
        <h1>Nombre pagina</h1>
        <h3>Breakfast</h3>
        <h3>Lunch</h3>
        <h3>Dinner</h3>
        <h3>Dessert</h3>
    </div>
    <div class = "user">
        <h3>Profile</h3>
    </div>
</div>
<div class="r">
    <div class='receta'>
        <h1 class="nombrereceta">Nombre receta</h1>
        <h1 class="imgreceta" style="height:200px;">A</h1>
        <h1 class="ratingreceta">Rating</h1>
    </div>
    <div class="ingredientes">
        <h1>Ingredientes</h1>
        <p>Lista de ingredientes</p>
    </div>
</div>
<div class="insco">
    <h1>Comentarios</h1>
    <h1>Instrucciones</h1>
</div>
<div class="inscocambio">
    <p>asdasdasdas</p>
    <p>asdasdasdasdsadasdasdasdasda</p>
</div>