<div class="error-page">
  <object data="/images/Error.svg" type="image/svg+xml"></object>
  <p>Oops! Something went wrong! Please try again, or go back.</p>
<button onclick="history.back()">◀ Go Back</button>
</div>