<div class = "head">
    <div class = "components">
        <h1>Nombre pagina</h1>
        <h3>Breakfast</h3>
        <h3>Lunch</h3>
        <h3>Dinner</h3>
        <h3>Dessert</h3>
    </div>
    <div class = "user">
        <h3>log in</h3>
        <h3>/</h3>
        <h3>Register</h3>
    </div>
</div>
<div class="welcome">
    <h1 class ="title">Welcome</h1>
    <p>In this page you will found some of the most amazing recipies of all time </p>
</div>
<div class="Recipes">
    <h1 class="1"> a</h1>
    <h2 class="2"> a</h2>
    <h1 class="3"> a</h1>
    <h1 class="4"> a</h1>
    <h2 class="5"> a</h2>
</div>