<div class="welcome">
  <div class="welcome-overlay">
    <img class="splash-logo" src="/images/SplashTitle.png" alt="background">
    <div class="home-recipes-container">
      <h1>Latest Recipes</h1>
      <div class="home-recipes">
        {{#each latestRecipes}}
          {{>recipeCard}}
        {{/each}}
      </div>
    </div>
  </div>
</div>
<script src="/js/calculateRating.js"></script>