<div class="profile-content">
  <h1 class="page-title">{{username}}'s Profile</h1>
  <div class="profile-sections">
    <div class="user-section">
      <h2>Created Recipes</h2>
      {{#if createdRecipes}}
        <div class="recipes-container-profile">
          {{#each createdRecipes}}
            {{>recipeCard this}}
          {{/each}}
        </div>
      {{else}}
        {{>emptySection item="Created Recipes"}}
      {{/if}}

      {{#eq session.currentUser.username username}}
        <a class="button add-recipe" href="/recipes/create">+ Create Recipe</a>
      {{/eq}}
    </div>

    <div class="user-section">
      <h2>Favorite Recipes</h2>
      {{#if favoriteRecipes}}
        <div class="recipes-container-profile">
          {{#each favoriteRecipes}}
            {{>recipeCard this}}
          {{/each}}
        </div>
      {{else}}
        {{>emptySection item="Favorite Recipes"}}
      {{/if}}
    </div>
  </div>
</div>
<script src="/js/calculateRating.js"></script>