<div class = "nameuser">
    <h1> Welcome back {{session.currentUser.username}}</h1>
</div>
<section class="optionsuser">
    <div class="userRecipes">
        <h1>My Recipes</h1>
        <button><a href="/recipes/create">Create recipe</a></button>
        <div class="user-recipes-container">
            {{#each createdRecipes}}
                {{>recipecard this}}
            {{/each}}
        </div>
    </div>
    <div class="favRecipes">
        <h1>Favorite Recipes</h1>
        <div class="user-favrecipes-container">
            {{#each favoriteRecipes}}
                {{>recipecard this}}
            {{/each}}
        </div>
    </div>
</section>
<script src="/js/calculateRating.js"></script>