<div class = "nameuser">
    <h1> Welcome back {{session.currentUser.username}}</h1>
</div>
<div class="optionsuser">
    <h1>My Recipes</h1>
    <h1>Favorite Recipes</h1>
    <h1><a href="/recipes/create">Create recipe</a></h1>
</div>
<div class="recetas">

</div>
