/*
base color: #502E3A;
highlight color: #df9fb6;
error color: #B53B1F;
gray: #DDD;
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #502E3A;
  text-align: center;
}

hr {
  color: #502e3a;
  margin: 1vh auto;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

a:hover {
  color: #df9fb6;
}

nav {
  background-color: #502E3A;
  display: flex;
  justify-content: space-between;
  position: sticky;
  z-index: 1;
  left: 0;
  top: 0;
}

nav a {
  font-weight: bolder;
  font-size: 1.17em;
  color: white;
}

input[type=text],
input[type=email],
input[type=password],
textarea,
select {
  font: inherit;
  font-size: inherit;
  color: inherit;
  border: 1px solid #502E3A;
  margin: 8px 2px;
  border-radius: 4px;
  background-color: white;
  padding-left: 0.25em;
}

input[type=file] {
  display: none;
}

select {
  background-image: url("../images/ui/selectPointer.svg");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
  padding-right: 1.9em;
  appearance: none;
}

button, .button {
  text-decoration: none;
  font-size: inherit;
  font: inherit;
  border: none;
  padding: 10px;
  border-radius: 6px;
  background-color: #502E3A;
  color: white;
  cursor: pointer;
}

textarea {
  resize: none;
}

.auth-form-container {
  font-size: 180%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 4vh 4vw;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px #502E3A;
  margin: 10vh auto;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 30px 0;
}

.logo {
  width: 70%;
  margin: 1vh 0;
}

.components{
  display: flex;
  align-items: center;
  width: 800;
  justify-content: space-evenly;
  margin-right: 300px;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.welcome {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background-image: url("/images/splashBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.welcome-overlay {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  backdrop-filter: blur(5px);
  background-color: rgba(196, 196, 196, 0.5);
}

.welcome-overlay h1 {
  margin-bottom: 2vh;
}

.splash-logo {
  margin-bottom: 1vh;
  margin-top: 10vh;
}

.title {
  font-size: 100px;
}

.latest-container {
  background-color: white;
  padding: 3vh 6vh;
  border-radius: 20px;
  box-shadow: 0 0 5px 1px #502E3A;
}

.recipe-form {
  font-size: 150%;
}

.upload-preview {
  width: 16em;
  height: 8em;
  object-fit: cover;
  margin: 0.5em 0;
}

.upload-preview:hover {
  cursor: pointer;
}

.recipe-form-inputs {
  margin: 3vh auto;
  display: flex;
  justify-content: center;
}

.recipe-form-inputs section {
  margin: 0 1em;
}

#ingredients-form {
  width: 20%;
}

.ingr-field input {
  width: 87%;
}

#directions-form {
  width: 40%;
}

.dir-field input {
  width: 90%;
}

.remove-field {
  width: 1em;
  vertical-align: sub;
}

.remove-field:hover {
  cursor: pointer;
}

.recipe-card {
  width: 20em;
  padding: 1em;
  box-shadow: 0 0 3px 0.01em #502E3A;
  border-radius: 10px;
}

.recipe-card-img {
  width: 18em;
  height: 9em;
  object-fit: cover;
  margin: 1vh 0;
}

.page-container {
  display: flex;
  margin: 3vh;
  justify-content: center;
}

.recipes-container{
  display: inline-grid;
  grid-template-columns: repeat(4, 20em);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  width: min-content;
}

.add-recipe {
  float: left;
}

.rating {
  margin: 0.5em;
}

.rating img {
  vertical-align: sub;
}

.card-rate img {
  width: 1em;
}

.rating-info.detail-rate {
  font-weight: bold;
  font-size: 1.5em;
}

.details-author {
  font-size: 1.5em;
}

.comment-box{
  border: #502E3A 1px solid;
  margin: 2vh 0;
  border-radius: 6px;
  text-align: left;
}

.comment-box h3 {
  background-color: #502E3A;
  color: white;
  padding: 0.5vh 0 0.5vh 1vw;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.comment-box p {
  padding: 1vh;
}

.comment-date {
  padding: 1vh;
}

.recipe-details-container {
  display: flex;
  width: 70vw;
  margin: 3vh auto;
}

.recipe-details-img {
  width: 36em;
  height: 18em;
  object-fit: cover;
}

.recipe-details-col {
  width: 50%;
  margin: 0 2vw;
}

.empty-section {
  font-size: 1.5rem;
  background-color: #DDD;
  padding: 3vh 3vw;
  border-radius: 10px;
  width: 100%;
  margin: 1vh;
}

.write-comment textarea {
  width: 100%;
  height: 6em;
}

.recipe-author-tools {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2vh;
}

.recipe-info {
  text-align: left;
  margin-top: 2vh;
}

ul, ol {
  font-size: 110%;
  margin-left: 1em;
  line-height: 1.5em;
}

.page-title {
  margin-top: 2vh;
}

.components {
  display: flex;
  align-items: center;
  width: 800;
  justify-content: space-evenly;
  margin-right: 300px;
}

.user {
  display: flex;
  align-items: center;
  width: 200;
  justify-content: space-evenly;
}

.profile-content {
  width: 90vw;
  margin: auto;
}

.profile-sections {
  display: flex;
  justify-content: space-around;
  margin-top: 2vh;
  flex-wrap: wrap;
}

.user-section {
  margin: 1vw;
}

.error-page, .error-page p {
  margin: 2vw;
}

.error-page button, .error-page p {
  font-size: 2em;
}

.error {
  color: #B53B1F;
  background-color: #DDD;
  width: fit-content;
  border-radius: 10px;
  margin: 1vw auto;
  padding: 1vw;
}