<h1 class="page-title">{{this.category}} Recipes</h1>
<div class="page-container">
    <div class="recipes-container">
        {{#each this.recipesList}}
            {{>recipeCard}}
        {{/each}}
    </div>
</div>
<script src="/js/calculateRating.js"></script>