<h1 class="page-title">{{category}} Recipes</h1>
<div class="page-container">
  {{#if recipesList.length}}
    <div class="recipes-container">
      {{#each recipesList}}
        {{>recipeCard}}
      {{/each}}
    </div>
  {{else}}
    {{>emptySection item="Recipes" }}
  {{/if}}
</div>
<script src="/js/calculateRating.js"></script>