<div id="form" class="recipe-form-container">
  <form action="/recipes/create" method="POST" enctype="multipart/form-data">
    <h2>Create a New Recipe</h2>
    <div class="recipe-form-inputs">
      <section id="title-form">
        <label>Title</label>
        <input type="text" name="title" placeholder="Recipe Title" value="Scrambled Eggs"/>
        <div class="category-select">
          <label for="category">Category</label>
          <select name="category">
            <option value="Breakfast">Breakfast</option>
            <option value="Lunch">Lunch</option>
            <option value="Dinner">Dinner</option>
            <option value="Dessert">Dessert</option>
            <option value="Other">Other</option>
          </select>
        </div>
        <div>
        <label>Image
        <input type="file" name="Recipe-image" class="recipeimage" accept=".jpg , .png"/>
        </label>
        </div>
      </section>

      <section id="ingredients-form">
        <label>Ingredients</label>
        <div id="ingredients-inputs">

          <div class="ingr-field">
            <input type="text" name="ingr0" placeholder="Ingredient" value="Eggs"/>
            <button type="button" class="remove-field">&times</button>
          </div>

          <div class="ingr-field">
            <input type="text" name="ingr1" placeholder="Ingredient" value="Ham"/>
            <button type="button" class="remove-field">&times</button>
          </div>

          <div class="ingr-field">
            <input type="text" name="ingr2" placeholder="Ingredient" value="Onion"/>
            <button type="button" class="remove-field">&times</button>
          </div>

        </div>
          <button type="button" class="ingr-add">+ Add Ingredient</button>
      </section>

      <section id="directions-form">
        <label>Directions</label>
        <div id="directions-inputs">

          <div class="dir-field">
            <input type="text" name="dir0" placeholder="Direction" value="Beat eggs"/>
            <button type="button" class="remove-field">&times</button>
          </div>

          <div class="dir-field">
            <input type="text" name="dir1" placeholder="Direction" value="Fry onion and ham"/>
            <button type="button" class="remove-field">&times</button>
          </div>

          <div class="dir-field">
            <input type="text" name="dir2" placeholder="Direction" value="Mix beaten eggs into onion and ham"/>
            <button type="button" class="remove-field">&times</button>
          </div>

        </div>
        <button type="button" class="dir-add">+ Add Direction</button>
      </section>
    </div>
    <button type="submit">Create Recipe</button>
    

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>
<script src="/js/recipeForm.js"></script>